<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="./style1.css">
</head>
<body>
    <form action="./register" method="POST" class="regForm"> 
        <h1>Registration Form</h1>
        <label for="student_name">Student Name :</label>
        <input type="text" id="student_name" name="student_name" placeholder="Enter the Student's Name" required><br>
        <label for="father_name">Father Name :</label>
        <input type="text" id="father_name" name="father_name" placeholder="Enter the Father's Name" required><br>
        <label for="student_mother_name">Mother Name :</label>
        <input type="text" id="student_mother_name" name="student_mother_name" placeholder="Enter the Mother's Name" required><br>
        <label for="phone_number">Phone Number :</label>
        <input type="number" id="phone_number" name="phone_number" placeholder="Enter the Phone Number" required><br>
        <label for="email">Email Address :</label>
        <input type="email" id="email" name="email" placeholder="Enter the Email Address" required><br>
        <label for="date_of_birth">Date of Birth :</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required><br>
        <label for="student_address">Student Adress :</label>
        <input type="text" id="student_address" name="student_address" placeholder="Enter Student's Address" required><br>
        <label for="blood_group">Blood Group :</label>
        <input type="text" id="blood_group" name="blood_group" placeholder="Enter blood group" required><br>
        <label for="department">Department Name :</label>
        <input type="text" id="department" name="department" placeholder="Enter Department's Name" required><br>
        <label for="course">Course:</label>
        <input type="text" id="course" name="course" placeholder="Enter Course Adress" required><br>
        <label for="passwords">Password :</label>
        <input type="password" id="passwords" name="passwords" placeholder="Enter your password" required><br>
        <input type="submit" value="Submit" class="button"><br>
    </form>
</body>
</html>