*{
    margin: 0;
    padding: 0;
    color: #fff;
    background: url(./Background\ Image.jpg);
    background-size: cover;
}
form input{
    outline: none;
    border: none;
    background: transparent;
    font-size: 30px;
}
form label,h1{
    background: transparent;
}
form{
    display: flex;
    font-size: 60px;
    flex-direction: column;
    align-items: center;
}
form .button{
    font-size: 30px;
    color: yellow;
}